<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gookin Travels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css"/>
</head>
<body>

<h1>This is the Gookin Family Travel Website</h1>

<h2>Family Members</h2>
<div class="row text-center">
    <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dennis</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/views/family/dennis" class="btn btn-primary">DEG Page</a>
        </div>
    </div>
    <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Erin</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/views/family/erin" class="btn btn-primary">EFG Page</a>
        </div>
    </div>
    <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jacob</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/views/family/jacob" class="btn btn-primary">JEG Page</a>
        </div>
    </div>
    <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Owen</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/views/family/owen" class="btn btn-primary">OWG Page</a>
        </div>
    </div>
</div>


<h2>Years</h2>
<div class="row text-center">
        <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">2015</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="/views/years/2015" class="btn btn-primary">2015 Page</a>
                </div>
        </div>
        <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">2016</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <a href="/views/years/2016" class="btn btn-primary">2016 Page</a>
                    </div>
        </div>
        <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2017</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="/views/years/2017" class="btn btn-primary">2017 Page</a>
                        </div>
        </div>
        <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">2018</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="/views/years/2018" class="btn btn-primary">2018 Page</a>
                            </div>
        </div>
        <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">2019</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <a href="/views/years/2019" class="btn btn-primary">2019 Page</a>
                                </div>
        </div>
</div>


    <h3>Things to add to this site</h3>
    <ol>
        <li>Map/List of places we've been</li>
        <li>Posts for each vacation</li>
        <li>Page for each family member</li>
        <li>Pictures of places we've been</li>
        <li>List of places we want to go</li>
        <s><li>Home page with years to choose from</li></s>
        <li></li>
    </ol>

</body>
</html>