<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gookin Travels</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css"/>
</head>
<body>

<h1>This is the Gookin Family Travel Website</h1>

<h2>Family Members</h2>
<div class="row text-center">
    <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Dennis</h5>
            <p class="card-text">Patriarch of the Gookin Family.</p>
            <a href="/views/family/dennis" class="btn btn-primary">DEG Page</a>
        </div>
    </div>
    <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Erin</h5>
            <p class="card-text">Matriarch of the Gookin Family.</p>
            <a href="/views/family/erin" class="btn btn-primary">EFG Page</a>
        </div>
    </div>
    <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
        <img src="https://lh3.googleusercontent.com/OJ44UIef-jGP93sTzFNXVcV1q24bb-1qDrvUbFxj8i76wj4cExdWSPcTKfLOTDBadf64-mRbCYJGP67cdYLJQF9ReBKGevxhFOfvo3rOOBfifaKrfYGAR4modod3hLIpz8gpZDmx6seFMH2V5GQHDD3pzRTh6RpECHXLj0eL3R640Kl2LuB_7Uz1JOVZtlAWIbXqHKn7xADlaz7bHl8fv3iwLzDNrgyZNW5sJ2P1tPjHwvlSHZCGLobUBXLgaGDZXLXva4BdwRkHpE06fX4H1sVtzW9sj5XrdR2NlF6p7t09NVqm-G2jUeCvbeatQARE9LHNEC4mZqv1snWiGUJAl1r6lhg6s11RnBTrp1i2lcc5rY3JJtO4hHQuLW54vFazh9hPDVNVj1zlZnPLo2nY-UAA4m-r3dpOyx0TEdDCPzIngloWjVElym226zXEhJzqCrdTOLW-XiTYhhfnJZrBaDKT2kTGICayDq7v5AF0JrYi1nBEKCMp_F4HBIKb7TP8LOzVWwk0Pggtbk07SXVq7zjcG8H2ZVtILdq9cZKVMrchbpQx4rXnJdcb7Y1V5w22RYUxuJk-lPkNtvnwg6QQws7m7ugGpJFgYp0jZtBTsGa5MnBnZc68y_vQaYZJRwIalf9wpjUvEitcGLSv46IdRsG9SXbpNHwcVh6DXQqZ2VYu0z4bEekPvxexTPeE_hEo-pD1oIhOvl7z8gIhlu_Yn9VcOwU2lpv-2ZiLgJ-PcBRpttA=w1086-h1446-no" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Jacob</h5>
            <p class="card-text">First son to Dennis.</p>
            <a href="/views/family/jacob" class="btn btn-primary">JEG Page</a>
        </div>
    </div>
    <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Owen</h5>
            <p class="card-text">Second son to Dennis, First son to Erin.</p>
            <a href="/views/family/owen" class="btn btn-primary">OWG Page</a>
        </div>
    </div>
</div>


<h2>Years</h2>
<div class="row text-center">
        <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">2015</h5>
                    <p class="card-text">First full year together.</p>
                    <a href="/views/years/2015/index" class="btn btn-primary">2015 Page</a>
                </div>
        </div>
        <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">2016</h5>
                        <p class="card-text">Cohabitation against the Bible.</p>
                        <a href="/views/years/2016/index" class="btn btn-primary">2016 Page</a>
                    </div>
        </div>
        <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">2017</h5>
                            <p class="card-text">Marriage year.</p>
                            <a href="/views/years/2017/index" class="btn btn-primary">2017 Page</a>
                        </div>
        </div>
        <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">2018</h5>
                                <p class="card-text">Owen was born & new home.</p>
                                <a href="/views/years/2018/index" class="btn btn-primary">2018 Page</a>
                            </div>
        </div>
        <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">2019</h5>
                                    <p class="card-text">Stuff.</p>
                                    <a href="/views/years/2019/index" class="btn btn-primary">2019 Page</a>
                                </div>
        </div>
</div>


    <h3>Things to add to this site</h3>
    <ol>
        <li>Map/List of places we've been</li>
        <li>Posts for each vacation</li>
        <li>Page for each family member</li>
        <li>Pictures of places we've been</li>
        <li>List of places we want to go</li>
        <s><li>Home page with years to choose from</li></s>
        <li></li>
    </ol>

</body>
</html>