<%- include("../partials/header") %>



    <h1>Dennis's Travel Page</h1>

    <h2>Countries Visited</h2>
    <ol>
        <h4>North America/Caribbean</h4>
        <h4>Europe</h4>
    </ol>

    <h2>States Visited</h2>
    <ol id='dennisStateList'>
    </ol>

    <h2>Top 5 Countries to visit</h2>
    <ol>
    </ol>

    <h2>Top 5 States to visit</h2>
    <ol>
    </ol>

    <a href="/">Home</a>




<!--TESTING-->
<% vacations.forEach(function(vacation){ %>
    <div>
        <h3><%= vacation.name %></h3>
        <p><%= vacation.year %></p>
    </div>
<% }) %>


<%- include("../partials/footer") %>
