<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dennis's Page</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
</head>
<body>
    <h1>Dennis's Travel Page</h1>

    <h2>Countries Visited</h2>
    <ol>
        <h4>North America/Caribbean</h4>
        <h4>Europe</h4>
    </ol>

    <h2>States Visited</h2>
    <ol id='dennisStateList'>
    </ol>

    <h2>Top 5 Countries to visit</h2>
    <ol>
    </ol>

    <h2>Top 5 States to visit</h2>
    <ol>
    </ol>

    <a href="">Home</a>

    <script src="../../gookinTravel.js"></script>
</body>
</html>