<%- include("../partials/header") %>

    <h1>Jacob's Travel Page</h1>

    <h2>Countries Visited</h2>
    <ol>
        <li>United States</li>
    </ol>

    <h2>States Visited</h2>
    <ol>
        <li>California</li>
        <li>Colorado</li>
        <li>Florida</li>
        <li>Illinois</li>
        <li>Indiana</li>
        <li>Kentucky</li>
        <li>New York</li>
        <li>North Carolina</li>
        <li>Ohio</li>
        <li>South Carolina</li>
        <li>Tennessee</li>
        <li>Texas</li>
        <li>West Virginia</li>
    </ol>

    <h2>Top 5 Countries to visit</h2>
    <ol>
        <li>Bahamas</li>
        <li>Ireland</li>
        <li>United Kingdom</li>
        <li>Germany</li>
        <li>France</li>
    </ol>

    <h2>Top 5 States to visit</h2>
    <ol>
        <li>Hawaii</li>
        <li>Alaska</li>
        <li>Maine</li>
        <li>Wisconsin</li>
        <li>Alabama</li>
    </ol>

    <a href="">Home</a>

    <%- include("../partials/footer") %>