<%- include("../partials/header") %>

    <h1>Owen's Travel Page</h1>

    <h2>Countries Visited</h2>
    <ol>
        <li>United States</li>
    </ol>

    <h2>States Visited</h2>
    <ol>
        <li>Florida</li>
        <li>Illinois</li>
        <li>Indiana</li>
        <li>Kentucky</li>
    </ol>

    

    <a href="">Home</a>

    <%- include("../partials/footer") %>