<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Owen's Page</title>
    <link rel="stylesheet" type="text/css" media="screen" href="gookinTravel.css" />
    <script src="gookinTravel.js"></script>
</head>
<body>
    <h1>Owen's Travel Page</h1>

    <h2>Countries Visited</h2>
    <ol>
        <li>United States</li>
    </ol>

    <h2>States Visited</h2>
    <ol>
        <li>Florida</li>
        <li>Illinois</li>
        <li>Indiana</li>
        <li>Kentucky</li>
    </ol>

    

    <a href="gookinTravel.html">Home</a>
</body>
</html>