<%- include("../partials/header") %>
    <h1>2015</h1>

    <div class="row text-center">
            <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Disney Marathon</h5>
                    <p class="card-text">January. Disney for a day before the Marathon</p>
                    <a href="/views/family/dennis">Dennis & </a>
                    <a href="/views/family/erin">Erin</a>
                    <a href="/views/family/disney2015" class="btn btn-primary">Trip Info</a>
                </div>
            </div>
            <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chicago</h5>
                        <p class="card-text">July. Cubs game and first trip together to Chicago</p>
                        <a href="/views/family/dennis">Dennis & </a>
                        <a href="/views/family/erin">Erin</a>
                        <a href="/views/family/chicago2015" class="btn btn-primary">Trip Info</a>
                    </div>
            </div>
    </div>

    <a href="/">Home</a>

    <script src=""></script>
    
<%- include("../partials/footer") %>