<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2015</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <h1>2016</h1>

    <h2>March</h2>
    <h3> <a href="">Paris & Brugge</a></h3>
    <h4>Dennis & Erin</h4>

    <h2>July</h2>
    <h3> <a href="">Daytona Beach</a> </h3>
    <h4>Dennis, Erin & Jacob</h4>
    
    <h2>September</h2>
    <h3> <a href="">Cape Coral</a> </h3>
    <h4>Dennis, Erin & Jacob</h4>
    
    <h2>October</h2>
    <h3> <a href="">Chicago Marathon</a> </h3>
    <h4>Dennis & Erin</h4>
    
    <h2>October</h2>
    <h3> <a href="">Toronto</a> </h3>
    <h4>Dennis & Erin</h4>

    <a href="/">Home</a>

    <script src=""></script>
    
</body>
</html>