<%- include("../partials/header") %>

    <h1>2017</h1>

    <div class="row text-center">
            <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Friends Euro Trip</h5>
                    <p class="card-text">March. Munich Germany, Zurich Switzerland, Salzburg Austria with the Baers</p>
                    <a href="/views/family/dennis">Dennis & </a>
                    <a href="/views/family/erin">Erin</a>
                    <a href="/views/family/euro2017" class="btn btn-primary">Trip Info</a>
                </div>
            </div>
            <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Nashville</h5>
                        <p class="card-text">April. Nashville Half Marathon ugh</p>
                        <a href="/views/family/dennis">Dennis & </a>
                        <a href="/views/family/erin">Erin</a>
                        <a href="/views/family/nashville2017" class="btn btn-primary">Trip Info</a>
                    </div>
            </div>
            <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Chicago Proposal Trip</h5>
                        <p class="card-text">July. Cubs game, got engaged, saw Laura</p>
                        <a href="/views/family/dennis">Dennis, </a>
                        <a href="/views/family/erin">Erin</a>
                        <a href="/views/family/jacob"> & Jacob</a>
                        <a href="/views/family/chicago2017" class="btn btn-primary">Trip Info</a>
                    </div>
            </div>
            <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Disney</h5>
                        <p class="card-text">October. Nagel, Feeney, Gookin trip</p>
                        <a href="/views/family/dennis">Dennis, </a>
                        <a href="/views/family/erin">Erin</a>
                        <a href="/views/family/jacob"> & Jacob</a>
                        <a href="/views/family/disney2017" class="btn btn-primary">Trip Info</a>
                    </div>
            </div>
            <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">New York City</h5>
                        <p class="card-text">December. For Jason's wedding</p>
                        <a href="/views/family/dennis">Dennis, </a>
                        <a href="/views/family/erin">Erin</a>
                        <a href="/views/family/jacob"> & Jacob</a>
                        <a href="/views/family/nyc2017" class="btn btn-primary">Trip Info</a>
                    </div>
            </div>
        </div>

    <a href="/">Home</a>

    <script src=""></script>
    
<%- include("../partials/footer") %>