<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2015</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <h1>2017</h1>

    <h2>March</h2>
    <h3> <a href="">Euro Trip</a></h3>
    <h3>Munich, Zurich, Salzburg</h3>
    <h4>Dennis, Erin, Matt & Heather</h4>

    <h2>April</h2>
    <h3> <a href="">Nashville</a> </h3>
    <h4>Dennis & Erin</h4>
    
    <h2>July</h2>
    <h3> <a href="">Chicago</a> </h3>
    <h4>Dennis, Erin & Jacob</h4>
    
    <h2>October</h2>
    <h3> <a href="">Disney</a> </h3>
    <h4>Dennis, Erin & Jacob</h4>
    
    <h2>December</h2>
    <h3> <a href="">New York City</a> </h3>
    <h4>Dennis, Erin & Jacob</h4>

    <a href="/">Home</a>

    <script src=""></script>
    
</body>
</html>