<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2015</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
    <h1>2018</h1>

    <h2>January</h2>
    <h3> <a href="">Honeymoon</a></h3>
    <h3>Disney, Haiti, Jamaica, Mexico</h3>
    <h4>Dennis & Erin</h4>

    <h2>June</h2>
    <h3> <a href="">Bald Head Island</a> </h3>
    <h4>Dennis, Erin & Jacob</h4>
    
    <h2>August</h2>
    <h3> <a href="">Tori Wedding</a> </h3>
    <h3>Holland, MI</h3>
    <h4>Dennis & Erin</h4>
    
    <h2>December</h2>
    <h3> <a href="">Disney</a> </h3>
    <h4>Dennis & Erin</h4>

    <a href="/">Home</a>

    <script src=""></script>
    
</body>
</html>