<%- include("../partials/header") %>
    <h1>2019</h1>

    <div class="row text-center">
            <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Asheville</h5>
                    <p class="card-text">April. Asheville, NC beer and hiking</p>
                    <a href="/views/family/dennis">Dennis & </a>
                    <a href="/views/family/erin">Erin</a>
                    <a href="/views/family/asheville2019" class="btn btn-primary">Trip Info</a>
                </div>
            </div>
            <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">California</h5>
                        <p class="card-text">June. California for Alex's wedding & San Fran</p>
                        <a href="/views/family/dennis">Dennis, </a>
                        <a href="/views/family/erin">Erin</a>
                        <a href="/views/family/jacob"> & Jacob</a>
                        <a href="/views/family/california2019" class="btn btn-primary">Trip Info</a>
                    </div>
            </div>
            <div class="card col-md-3 col-sm-6" style="display:flex; flex-wrap:wrap">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Disney trip with the normal crew</h5>
                        <p class="card-text">October. Food & Wine Fest time</p>
                        <a href="/views/family/dennis">Dennis, </a>
                        <a href="/views/family/erin">Erin, </a>
                        <a href="/views/family/jacob">Jacob</a>
                        <a href="/views/family/owen"> & Owen</a>
                        <a href="/views/family/disney2019" class="btn btn-primary">Trip Info</a>
                    </div>
            </div>
    </div>

    <a href="/">Home</a>

    <script src=""></script>
    
<%- include("../partials/footer") %>